{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Form</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <h2>What is your favorite sandwich?</h2>
    <form action="/form" method="post">
        <form action="/register" method="post">
        <form class="needs-validation" novalidate>
            <div class="form-group">
                <label for="name">Name</label>
                <input autocomplete="off" autofocus name="name" placeholder="Name" type="text" required>
                <div class="invalid-feedback">
                    Please provide name
                </div>
            </div>
            <div class="form-group">
                <select class="form-control" name="location" required>
                    <option value "0" selected disabled>Location</option>
                    <option>Boston</option>
                    <option>Not Boston</option>
                </select>
                <div class="invalid-feedback">
                    Please provide location
                </div>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="sandwich" id="sandwich1" value="Italian" required>
                <label class="form-check-label" for="Radios">
                    Italian
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sandwich" id="sandwich2" value="Grilled Cheese" required>
                <label class="form-check-label" for="Radios">
                    Grilled Cheese
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sandwich" id="sandwich3" value="Other" required>
                <label class="form-check-label" for="Radios">
                    Other
                </label>
            </div>

        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
    'use strict';
    window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
            form.classList.add('was-validated');
            }, false);
        });
        }, false);
    })();
</script>

{% endblock %}
