{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Price</th>
              <th scope="col">Shares (- if sold)</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
                <tr>
                  <th scope="row">{{ row["symbol"] }}</th>
                  <td>{{ row["price"] }}</td>
                  <td>{{ row["shares"] }}</td>
                  <td>{{ row["time"] }}</td>
                </tr>
            {% endfor %}
    </table>
{% endblock %}
