{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" id = "myForm">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" id = "username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" id="password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirm password" placeholder="Confirm Password" id ="confirmation-input" type="password">
        </div>
        <button class="btn btn-primary" type="submit" id="button">Register</button>
    </form>

    <script>
        $("#button").on("click", function(e){
            e.preventDefault();
            if (!$('#username').val()){
                alert("Username required!");
                return;
            }
            if (!$('#password').val()){
                alert("Password required!");
                return;
            }
            if (!$('#confirmation-input').val()){
                alert("Confirmation required!");
                return;
            }
            $.get( "/check", { username: $('#username').val() }, function( data ) {
                if (data) {
                    $('#myForm').submit();
                } else {
                    alert('Username already in use!');
                }
            });
        });
    </script>

{% endblock %}
